// Specific CSS for your home-page
.banner{
  text-align: center;
  background-color: grey;
  padding-top: 50px;
  padding-bottom: 50px;
}

.text{
  text-align: left;
  padding-top: 50px;
  padding-bottom: 50px;
}
