.venues {
  background-color: white;
  .cards {
    width: 1200px;
    max-width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;

    .card {
      width: 220px;
      border: none;
      img {
        max-width:100%;
        height: auto;
        border-radius: 20px;
      }
      h2 {
        margin-top: 10px;
        font-size: 24px;
        font-weight: bold;
      }
      p {
        margin-bottom: 3px;
      }
    }
    // Tablets
    @media (max-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }
    // Mobile phones
    @media (max-width: 575px) {
      grid-template-columns: 1fr;
    }
  }
}


.card-trip {
  width: 60%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position:absolute;
  margin-top: 100px;
}

.card-trip > img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
