.venues {
  .search {
    width: 400px;
    .form-control {
      background-color: white;
    }
  }
  .cards {
    width: 1200px;
    max-width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;

    .card {
      border-style: none;
      img {
        border-radius: 20px;

      }
      h2 {
        font-size: 17px;
        font-weight: bold;
      }
      p {
        font-size: 15px;
      }
    }
    // Tablets
    @media (max-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }
    // Mobile phones
    @media (max-width: 575px) {
      grid-template-columns: 1fr;
    }
  }
}
