.show-page {
  .top-line {
    a, p {
      color: black;
    }
    font-size: 15px;
  }
  .carousel-item {
    height: 400px;
  }
  .carousel-control-next-icon {
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}
